.homeContainer {
    width: 100%;
}

.cardRound {
    color:#8C69F4;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.25);
    margin-right: 10px;
    overflow: auto;
    overflow-x: hidden;
    max-height: 50%;
}

.cardRoundTopBar {
    width: 100%;
    height: auto;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 24px;
    justify-content: space-between;
    margin-right: 10px;
}

#buttonRounds {
    height: fit-content;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 25px;
    margin-top: 10px;
}

.cardRoundContent{
    height: min-content;
    margin-left: 25px;
    margin-bottom: 10px;
}

.phaseContainerTitle{
    margin-left: 25px;
}

.phaseContainerContent{
    margin-right: 15px;
}

table{
    border-collapse: collapse;
}

th,td {
    border-bottom:solid;
    border-color: rgba(140, 105, 244, 0.37);
    border-width: 1px;
    padding: 10px;
}

.simpleGameTeams span {
    display: inline;
}