<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
</head>
<body>
    <div class="inputContainer">
        <label class ="inputLabel" for="scoreMode">Gestion des scores</label>
        <select required id="scoreMode" th:field="*{phases[__${itemStat.index}__].scoreMode}">
            <option th:each="scoreOpt : ${T(type.ScoreMode).values()}"
                    th:value="${scoreOpt}"
                    th:text="${scoreOpt}"
            ></option>
        </select>
    </div>
</body>
</html>