<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
</head>
<body>
    <div>
        <label for="finnish">Nombre de finlandaises</label>
        <input required id="finnish" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbFinnish}">
    </div>
    <div>
        <label for="ranking">Tenir compte de la phase précedante</label>
        <input id="ranking" type="checkbox" th:field="*{phases[__${itemStat.index}__].ranking}">
    </div>
    <div>
        <label for="topSeeds">Tenir compte têtes de série</label>
        <input id="topSeeds" type="checkbox" th:field="*{phases[__${itemStat.index}__].topSeeds}">
    </div>
    <div th:insert="phase/utiles/score"></div>
    <div>
        <label for="notifStartPhase">Notification début de la phase</label>
        <input id="notifStartPhase" type="checkbox" th:field="*{phases[__${itemStat.index}__].notifBeginningPhase}">
    </div>
    <div>
        <label for="numberQualifyTeam">Nombre d'équipes qualifiées</label>
        <input required id="numberQualifyTeam" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbTeamsQualified}">
    </div>
    <div th:insert="phase/utiles/playoff"></div>
    <div th:insert="phase/utiles/consolation"></div>
</body>
</html>