<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
</head>
<body>
    <div>
        <label for="poules">Nombre de poules</label>
        <input required id = "poules" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbPools}">
    </div>
    <div>
        <label for="sets">Nombre de manches</label>
        <input required id="sets" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbSets}">
    </div>
    <div>
        <label for="victoryValue">Valeur victoire</label>
        <input required id="victoryValue" type="number" min="2" max="3" th:field="*{phases[__${itemStat.index}__].victoryValue}">
    </div>
    <div>
        <label for="ranking">Tenir compte de la phase précedante</label>
        <input id="ranking" type="checkbox" th:field="*{phases[__${itemStat.index}__].ranking}">
    </div>
    <div>
        <label for="topSeeds">Tenir compte têtes de série</label>
        <input id="topSeeds" type="checkbox" th:field="*{phases[__${itemStat.index}__].topSeeds}">
    </div>
    <div>
        <label for="sameClub">Tenir compte affrontement même club</label>
        <input id="sameClub" type="checkbox" th:field="*{phases[__${itemStat.index}__].playTeamSameClub}">
    </div>
    <div th:insert="phase/utiles/score"></div>
    <div>
        <label for="notifStartPhase">Notification début de la phase</label>
        <input id="notifStartPhase" type="checkbox" th:field="*{phases[__${itemStat.index}__].notifBeginningPhase}">
    </div>
    <div>
        <label for="notifEachDay">Notification début de chaque journée</label>
        <input id="notifEachDay" type="checkbox" th:field="*{phases[__${itemStat.index}__].notifEachDay}">
    </div>
    <div>
        <label for="numberQualifyTeam">Nombre d'équipes qualifiées</label>
        <input required id="numberQualifyTeam" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbTeamsQualified}">
    </div>
    <div th:insert="phase/utiles/playoff"></div>
    <div th:insert="phase/utiles/consolation"></div>
</body>
</html>