<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <link rel="stylesheet" th:href="@{/styles/phase/choose.css}" href="../" />
</head>
<body>
    <div class="inputContainer">
        <label class="inputLabel" for="subRounds">Nombre de sub manches</label>
        <input class="inputPhase" required id="subRounds" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbSubRounds}">
    </div>
    <div class="inputContainer">
        <label class="inputLabel" for="sets">Nombre de manches</label>
        <input class="inputPhase" required id="sets" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbSets}">
    </div>
    <div class="inputContainer">
        <label class="inputLabel" for="victoryValue">Valeur victoire</label>
        <input class="inputPhase" required id="victoryValue" type="number" min="2" max="3" th:field="*{phases[__${itemStat.index}__].victoryValue}">
    </div>
    <div th:insert="phase/utiles/score"></div>
    <div class="inputContainer">
        <label class="inputLabel" for="notifStartPhase">Notification début de la phase</label>
        <input class="inputPhase" id="notifStartPhase" type="checkbox" th:field="*{phases[__${itemStat.index}__].notifBeginningPhase}">
    </div>
    <div class="inputContainer">
        <label class="inputLabel" for="numberQualifyTeam">Nombre d'équipes qualifiées</label>
        <input class="inputPhase" required id="numberQualifyTeam" type="number" min="1" th:field="*{phases[__${itemStat.index}__].nbTeamsQualified}">
    </div>
    <div th:insert="phase/utiles/playoff"></div>
</body>
</html>