.playerFormContainer {
    flex-wrap: wrap;
    margin-top: -20px;
    max-width: 1048px;
}

.searchbar2 {
    max-width: 1500px;
    flex-grow: 1;
    height: 58px;
    background-color: #E7E7ED;
    border-radius: 7px;
    border-width: 0;
    padding: 0 50px;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    color: black;
}

.contentText {
    margin-bottom: 25px;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start !important;
}

.cardUser {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 125px;
    margin-bottom: 30px;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 7px 2px rgb(196 196 196 / 25%);
    border-radius: 7px;
    color: white;
    margin-right: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .cardUser {
        width: 100%;
        margin: 10px 0px;
    }
}

.userHeader {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 2em;
    background: #5B5A58;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.boxImage {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: -webkit-fill-available;
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: block;
    height: 70px;
}


.textCard{
    text-decoration: none;
}

.clickableCard{
    list-style-type: none;
    cursor: pointer;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}