/* Card 1 */
.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cardTeam{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 246px;
    height: 125px;
    margin-bottom: 30px;

    background: #F4F4F8;
    /* secondary */
    list-style-type: none;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 7px 2px rgba(196, 196, 196, 0.25);
    border-radius: 7px;
    cursor: pointer;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


@media only screen and (max-width: 600px) {
    .cardTeam {
        width: 100%;
    }
}

.teamHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    height: 2em;
    background: #5B5A58;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.teamInfo {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}
.playerName{
    width: 246px;
    height: 31px;
}
.teamPicture{
    width: 246px;
    height: 31px;
}

.teamName{
    margin-left: 10px;
    width: 236px;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.partTitle {
    font-weight: bold;
}
.partSubtitle {
    letter-spacing: 2px;
}
ul.roundsList {
    list-style: none;
}
.dir {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.imgBracket {
    object-fit: cover;
}
.teamCard {
    width: 246px;
    background-color: #F4F4F8;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}
#participantContainer {
    display: flex;
    flex-direction: row;
}

#staffContainer {
    display: flex;
    flex-direction: row;
}
.teamName {
    background-color:#5B5A58;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-transform: uppercase;
}

.cardContentContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.teamLogo {
    height: 80px;
    width: 80px;
    margin-right: 12px;
    margin-bottom: 15px;
}

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.inputFilter,
.filter {
    color: #8787A1;
    background-color: transparent;
    border-width: 2px;
    border-style: inset;
    border-color: transparent;
    border-image: initial;
}

#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E7ED;
    border-radius: 7px;
    padding: 10px;
    max-width: 350px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    #cover {
        max-width: none;
    }
}

.teamMember {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.searchIconFilter {
    filter: grayscale(1);
}

.inputFilter {
    width: 100%;
    font-size: 20px;
    line-height: 1;
}
.inputFilter:focus, textarea:focus, select:focus{
    outline: none;
}

.inputFilter::placeholder {
    color: #8787A1;
}

.filter {
    position: relative;
    display: block;
    cursor: pointer;
}
.teamPhoto {
    max-width:180px;
    max-height:90px;
}