<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <div th:replace="fragments/header"></div>
    <title>Éditer les informations de la/des phase(s)</title>
    <link rel="stylesheet" th:href="@{/styles/phase/choose.css}" href="../" />
</head>
<body class="bg">
    <div class="pageContainer">
        <div th:replace="fragments/sidebar"> </div>
        <div class="contentContainer">
        <div th:replace="fragments/searchbar"> </div>
        <div class="contentTitle">Veuillez editer les différentes informations de la/des phase(s)</div>
        <br>
        <form class="formContainer" method="post" th:action="@{/phase/editPhases}" th:object="${listPhase}">
            <div th:each="phase, itemStat : *{phases}">
                <strong class="contentTitle" th:text="'Phase n°' + ${phase.nbPhase} + ' de type ' + ${phase.phaseType}"></strong>
                <input hidden th:field="*{phases[__${itemStat.index}__].nbPhase}" th:value="${phase.nbPhase}">
                <input hidden th:field="*{phases[__${itemStat.index}__].tournament}" th:value="${phase.tournament}">
                <input hidden th:field="*{phases[__${itemStat.index}__].phaseType}" th:value="${phase.phaseType}">
                <div th:insert="phase/utiles/courtAndPlanning"></div>
                <div th:switch="${phase.phaseType}">
                    <div th:case="${T(type.PhaseType).POOL}">
                        <div th:insert="phase/typePhase/pool"></div>
                    </div>
                    <div th:case="${T(type.PhaseType).KNOCKOUT}">
                        <div th:insert="phase/typePhase/knockout"></div>
                    </div>
                    <div th:case="${T(type.PhaseType).FINNISH}">
                        <div th:insert="phase/typePhase/finnish"></div>
                    </div>
                    <div th:case="${T(type.PhaseType).SIMPLEGAME}">
                        <div th:insert="phase/typePhase/simple"></div>
                    </div>
                    <div th:case="${T(type.PhaseType).SWISSPOOL}">
                        <div th:insert="phase/typePhase/swiss"></div>
                    </div>
                </div>
                <br>
            </div>
            <div class="submitContainer">
                <button id="sendPhases" class="primaryButton" type="submit">Enregistrer Phase(s)</button>
            </div>
        </form>
        </div>
    </div>
</body>
<div th:replace="fragments/footer"></div>
</html>