<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
  <div th:replace="fragments/header"></div>
  <link rel="stylesheet" th:href="@{/styles/phase/view.css}" href="../"/>
  <link rel="stylesheet" th:href="@{/styles/tournament/view.css}" href="../"/>
  <title>Affichage Phase</title>
</head>

<body class="bg">
<div class="pageContainer">
  <div th:replace="fragments/sidebar"></div>
  <div class="contentContainer">
    <div th:replace="fragments/searchbar"></div>
    <div class="homeContainer">
      <div class="cardRound">
        <div class="cardRoundTopBar">
          <p th:text="'Phase ' + ${currentTournament.indexPhase} "></p>
          <button class="primaryButton" id="buttonRounds">Masquer</button>
        </div>
        <div id="listRounds">
            <div th:each="mapEntry : ${roundTeams}" class="cardRoundContent">

              <div class="partContainer">
                <h2 class="partTitle"  th:text="${mapEntry.key.type} " >type </h2>
                <strong style="color: green" th:if = "${mapEntry.key.finished == true}" th:text=" 'Status :TERMINÉ'"></strong>
                <strong style="color: red" th:if = "${mapEntry.key.finished == false}" th:text="' Status :PAS TERMINÉ'"></strong>
                  <div>
                    <table style="width: 100%">
                      <tr style="color:#8C69F4; margin: 10px; text-align: center; width:90%">
                        <th>Classement</th>
                        <th>Nom d'équipe</th>
                        <th>Nombre de victoires</th>
                        <th>Nombre des points </th>
                      </tr>
                      <tr  th:each="teams, iStat: ${mapEntry.value}"
                           style="text-align: center;">
                        <td th:text="${iStat.index+1}"></td>
                        <td th:text="${teams.team.name}"></td>
                        <td th:text="${teams.values}"></td>
                        <td th:text="${teams.totalPoints}"></td>
                      </tr>
                    </table>
                  </div>
                <h2 class="partTitle">Matches</h2>
                <div id="participantContainer">
                  <th:block th:each="match : ${mapEntry.key.getMatches()}">
                    <div class="teamCard">
                      <h3 style="background-color: #8787A1" class="teamName"  th:text="${match.teams[0].name} + ' x '+ ${match.teams[1].name}"></h3>
                      <div class="cardContentContainer">
                        <table style="width: 100%">
                          <tr style="color:#8C69F4; margin: 10px; text-align: center; width:90%">
                            <th>Nom d'équipe</th>
                            <th>Nombre des points </th>
                          </tr>
                          <tr style="text-align: center;">
                            <td th:text="${match.teams[0].name}"></td>
                            <td th:text="${match.getScoreTeam1()}"></td>
                          </tr>
                          <tr style="text-align: center;">
                            <td th:text="${match.teams[1].name}"></td>
                            <td th:text="${match.getScoreTeam2()}"></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </th:block>
                </div>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
<div th:replace="fragments/footer"></div>

<script>
  const targetDiv = document.getElementById("listRounds");
  const btn = document.getElementById("buttonRounds");

  btn.onclick = function () {
    if (targetDiv.style.display !== "none") {
      targetDiv.style.display = "none";
    } else {
      targetDiv.style.display = "block"
    }
    if (btn.innerText === "Masquer") {
      btn.innerText = "Afficher";
    } else {
      btn.innerText = "Masquer";
    }
  }
</script>
</html>