<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des équipes</title>
    <link rel="stylesheet" th:href="@{/styles/user/user.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>

        <!-- Emplacement pour les informations d'un user-->
        <div class="contentTitle">
            Informations de l'utlisateur <span id="userPseudo" th:text="${user.pseudo}"/>
            <div class="contentText">
                Email de l'utilisateur : <span id="userMail" th:text="${user.email}"/> <br>
                Club de l'utilisateur : <span id="userClub" th:text="${user.club}"/> <br>
                Nom de l'utilisateur : <span id="userNom" th:text="${user.surname}"/> <br>
                Prénom de l'utilisateur : <span id="userPrenom" th:text="${user.forename}"/> <br>
            </div>
        </div>

        <div class="contentTitle">
            Liste des tournois de l'utilisateur <span id="userPseudo2" th:text="${user.pseudo}"/>
            <div class="contentText" th:each="tournament: ${tournament}">
                Nom du tournoi : <span id="nomTournament" th:text="${tournament.name}"/> <br>
                Date du tournoi  <span id="dateTournament" th:text="${tournament.date}"/> <br>
                <a style="text-decoration: none;" th:href="${'/tournament/view?tournamentId=' + tournament.getId()}">
                    <button class="primaryButton">Accéder au tournoi</button>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>