<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des équipes</title>
    <link rel="stylesheet" th:href="@{/styles/user/user.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>

        <!-- Emplacement pour les filtres-->
        <div class="searchbar2">
            <form method="post" th:action="@{/user/searchUser}" th:object="${userDisplay}">
                <label for="searchUser">Utilisateur: </label>
                <input id="searchUser" type="text" th:field="*{pseudo}">
                <input id="submitUser" type="submit" value="Search">
            </form>
        </div>


        <div class="cardContainer">
            <ul th:each="user: ${users}" class="cardUser" th:unless="${user.pseudo == null}">
                <li class="clickCard">
                    <a th:href="@{'/user/view?userId='+${user.id}}">
                        <div class="userHeader">
                            <p class="textCard" th:text="${user.pseudo}"></p>
                        </div>
                        <div class="boxImage">
                            <img class="image" th:src="@{/assets/users.svg}">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>