<link rel="stylesheet" th:href="@{/styles/global.css}" />
<link rel="stylesheet" th:href="@{/styles/fragments.css}" />
<link rel="stylesheet" th:href="@{/styles/fonts.css}" />
<link rel="stylesheet" th:href="@{/styles/components.css}" />
<link rel="icon" type="image/png" href="/assets/Molkky_favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" th:src="@{/js/notifications.js}"></script>
<script type="text/javascript" th:src="@{/js/searchbar.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<meta name="description" content="Site d'hébergement de tournois de Molkky">