<div class="searchbarContainer">
    <i class="searchbarIconContainer"><img class="searchbarIcon" th:src="@{/assets/search_icon.svg}"/></i>
    <input type="text" class="searchbar" placeholder="Search"/>
    <div class="searchbarButtonContainer">
        <div class="notificationButton">
            <img class="notificationButtonIcon" th:src="@{/assets/notification.svg}"/>
        </div>
        <div th:if="${session.user != null }">
            <button id="notLogged" class="primaryButton" onclick="window.location.href='/connexion'" >Se déconnecter</button>
        </div>
        <div th:unless="${session.user != null}">
            <button id="logged" class="primaryButton" onclick="window.location.href='/connexion'" >Se connecter</button>
        </div>
    </div>
</div>