<div class="searchAutoresults">
    <th:block th:if="${tournaments.size() > 0}">
        <div class="searchAutoresultsSectionTitle">Tournois</div>
        <div th:each="tournament, iStat: ${tournaments}" class="searchResultItemContainer">
            <div th:text="${tournament.name}" class="searchResultItemText">

            </div>
            <img th:src="@{/assets/tournament.svg}" class="searchResultItemIcon" alt="tournament icon"/>
        </div>
    </th:block>
    <th:block th:if="${users.size() > 0}">
        <div class="searchAutoresultsSectionTitle">Utilisateurs</div>
        <div th:each="user, iStat: ${users}" class="searchResultItemContainer">
            <div th:text="${user.surname + ' ' + user.forename}" class="searchResultItemText">

            </div>
            <img th:src="@{/assets/users.svg}" class="searchResultItemIcon" alt="tournament icon"/>
        </div>
    </th:block>
    <th:block th:if="${teams.size() > 0}">
        <div class="searchAutoresultsSectionTitle">Equipes</div>
        <div th:each="team, iStat: ${teams}" class="searchResultItemContainer">
            <div th:text="${team.name}" class="searchResultItemText">

            </div>
            <img th:src="@{/assets/teams.svg}" class="searchResultItemIcon" alt="tournament icon"/>
        </div>
    </th:block>
</div>
