<div class="sidebarContainer">
    <img th:src="@{/assets/Molkky_logo.png}" alt="logo" class="sidebarLogo"/>
<!--    navigation-->
    <div class="sidebarButtons">
        <div class="sidebarButton bgButton textPrimary">
            <img class="sidebarIcon sidebarIcon" th:src="@{/assets/home.svg}"/>
            <p class="sidebarButtonContent">Accueil</p>
        </div>
        <div class="sidebarButton">
            <img class="sidebarIcon sidebarIconInactive" th:src="@{/assets/tournament.svg}"/>
            <p class="sidebarButtonContent">Tournois</p>
        </div>
        <div class="sidebarButton">
            <img class="sidebarIcon sidebarIconInactive" th:src="@{/assets/matches.svg}"/>
            <p class="sidebarButtonContent">Mes matchs</p>
        </div>
        <div class="sidebarButton">
            <img class="sidebarIcon sidebarIconInactive" th:src="@{/assets/infos.svg}"/>
            <p class="sidebarButtonContent">Mes informations personnelles</p>
        </div>
    </div>
</div>