<div class="socialsContainer">
    <a href="https://www.molkky-club-anjou.fr/"><img class="socialsIcon" th:src="@{/assets/web.svg}" alt="web"/></a>
    <a href="mailto:molkky.club.anjou@gmail.com"><img class="socialsIcon" th:src="@{/assets/mail.svg}" alt="mail"/></a>
    <a href="https://www.instagram.com/molkkyclubanjou/"><img class="socialsIcon" th:src="@{/assets/instagram.svg}" alt="instagram"/></a>
    <a href="https://www.facebook.com/MolkkyClubAnjou/"><img class="socialsIcon" th:src="@{/assets/facebook.svg}" alt="facebook"/></a>
    <a href="https://twitter.com/molkkyclubanjou"><img class="socialsIcon" th:src="@{/assets/twitter.svg}" alt="twitter"/></a>
</div>