<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
  <div th:replace="fragments/header"></div>
  <link rel="stylesheet" th:href="@{/styles/tournament/create.css}" href="../" />
  <link rel="stylesheet" th:href="@{/styles/team/team.css}" href="../" />
  <title>Créer Staff</title>
</head>
<body class="bg">
<div class="pageContainer">
  <div th:replace="fragments/sidebar"> </div>

  <div class="contentContainer">
    <div th:replace="fragments/searchbar"> </div>
    <div class="contentTitle">Ajouter des staff à votre tournois</div>
    <form action="#" th:action="@{/court/add}" method="post" th:object="${courtList}" class="formContainer">
      <div class="formContainer">
        <div th:each="court, itemStat : *{courts}" class="inputContainer">
          <div class="partTitle" th:text="'Staff ' + ${itemStat.index+1}">Terrain: </div>
          <div class="submitContainer playerFormContainer">
            <div class="inputContainer">
              <label for="name" class="inputLabel">Nom</label>
              <input th:field="name" required="true" type="text" id="name" class="inputTournament"/>
              <input hidden th:name="|courts[${itemStat.index}].tournamentId|" th:value="${tournamentId}"/>
            </div>


      </div>
      </div>
      </div>
        <div class="submitContainer">
          <button id="sendTeam" class="primaryButton" type="submit">Finaliser</button>
        </div>
    </form>
  </div>
</div>

</body>
<div th:replace="fragments/footer"></div>

