<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des tournois</title>
    <link rel="stylesheet" th:href="@{/styles/tournament/allTournament.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>
        <div class="submitContainer">
            <form action="#" th:action="@{/tournament/allTournament}" method="post" class="tournamentFormContainer">
                <input id="valider" type="submit" class="primaryButton" value="Créer tournoi">
            </form>
            <form action="#" method="post" th:action="@{/tournament/inscription}" class="tournamentFormContainer">
                <input id="inscription" type="submit" class="primaryButton" value="Inscription à un tournoi">
            </form>
        </div>
        <!-- Emplacement pour les filtres-->
        <div class="boxTournamentList">
            <div class="boxListe">
                <div class="rectangle"></div>
                <div class="ListTournament">Liste des tournois</div>
            </div>


            <div class="allButton">
                <a id="open" class="textButton" aria-current="page" href="/tournament/TournamentOpen">Ouverts</a>
                <a id="closed" class="textButton" href="/tournament/TournamentClose">Fermés</a>
                <a id="inProgress" class="textButton" href="/tournament/TournamentInProgress">En
                    cours</a>
            </div>


            <div class="boxAllCard">
                <th:block th:each="tournament:${tournament}">
                    <a class="boxOneCard"  th:href="@{'/tournament/view?tournamentId='+${tournament.id}}">
                        <span class="insideText tournamentTitleInside" th:text="${tournament.name}"/>
                        <span class="insideText" th:text="${tournament.date}"/>
                        <span class="insideText" th:text="${tournament.nbPlayersPerTeam}+' joueurs par équipes'"/>
                        <p class="insideText" th:if="${!tournament.getTeams().isEmpty()}">
                            <span class="textPlayer"
                                  th:text="${tournament.getTeams().size()}*${tournament.nbPlayersPerTeam}+' / '+${tournament.getMaxTeam()}*${tournament.getNbPlayersPerTeam()}+' Joueurs'"/>
                        </p>
                        <p class="insideText" th:unless="${!tournament.getTeams().isEmpty()}">
                            <span class="textPlayer"
                                  th:text="'0 / '+${tournament.getMaxTeam()}*${tournament.getNbPlayersPerTeam()}+' Joueurs'"/>
                        </p>
                        <p class="insideText textInscriptionClosed" th:unless="${tournament.visible}">Incriptions fermées</p>
                        <p class="insideText textInscriptionOpen" th:if="${tournament.visible}">Incriptions ouvertes</p>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>