<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des tournois</title>
    <link rel="stylesheet" th:href="@{/styles/tournament/allTournament.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>
        <div class="submitContainer">
            <form action="#" th:action="@{/tournament/allTournament}" method="post" class="tournamentFormContainer">
                <input id="valider" type="submit" class="primaryButton" value="Créer tournoi">
            </form>
            <form action="#" method="post" th:action="@{/tournament/inscription}" class="tournamentFormContainer">
                <input id="inscription" type="submit" class="primaryButton" value="Inscription à un tournoi">
            </form>
        </div>
        <!-- Emplacement pour les filtres-->
        <div class="boxTournamentList">
            <div class="ListTournament">Liste des tournois</div>


            <div class="allButton">
                <a id="all" th:class="'tab '+${#httpServletRequest.requestURI.equals('/tournament/allTournament') ? 'tabSelected' : ''}" aria-current="page" href="/tournament/allTournament">Tous</a>
                <a id="open" th:class="'tab '+${#httpServletRequest.requestURI.equals('/tournament/TournamentOpen') ? 'tabSelected' : ''}" aria-current="page" href="/tournament/TournamentOpen">Ouverts</a>
                <a id="closed" th:class="'tab '+${#httpServletRequest.requestURI.equals('/tournament/TournamentClose') ? 'tabSelected' : ''}" href="/tournament/TournamentClose">Fermés</a>
                <a id="inProgress" th:class="'tab '+${#httpServletRequest.requestURI.equals('/tournament/TournamentInProgress') ? 'tabSelected' : ''}" href="/tournament/TournamentInProgress">En
                    cours</a>
            </div>


            <div class="boxAllCard">
                <th:block th:each="tournament:${tournament}">
                    <a class="boxOneCard"  th:href="@{'/tournament/view?tournamentId='+${tournament.id}}">
                        <span class="insideText tournamentTitleInside nameCard" th:text="${tournament.name}"/>
                        <span class="insideText dateCard" th:text="${tournament.date}"/>
                        <span class="insideText nbCard" th:text="${tournament.nbPlayersPerTeam}+' joueurs par équipes'"/>
                        <p class="insideText" th:if="${!tournament.getTeams().isEmpty()}">
                            <span class="textPlayer textPlayer"
                                  th:text="${tournament.getTeams().size()}*${tournament.nbPlayersPerTeam}+' / '+${tournament.getMaxTeam()}*${tournament.getNbPlayersPerTeam()}+' Joueurs'"/>
                        </p>
                        <p class="insideText" th:unless="${!tournament.getTeams().isEmpty()}">
                            <span class="textPlayer"
                                  th:text="'0 / '+${tournament.getMaxTeam()}*${tournament.getNbPlayersPerTeam()}+' Joueurs'"/>
                        </p>
                        <p class="insideText textInscriptionClosed" th:unless="${tournament.registerAvailable}">Incriptions fermées</p>
                        <p class="insideText textInscriptionOpen" th:if="${tournament.registerAvailable}">Incriptions ouvertes</p>
                    </a>
                    <a class="boxOneCard buttonModify" th:if="${session.user != null} and (${#strings.equals(session.user.role, 'ADM')})" th:href="@{'/tournament/modify?tournamentId='+${tournament.id}}">
                        <span class="insideText">Modifier Tournoi</span>
                    </a>
                </th:block>
        </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>