<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Accueil</title>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"> </div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"> </div>
        <div class="homeContainer">
            <div>
                <div class="contentTitle">Tournois en cours</div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>


