<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml"
      lang="fr">
<head>
    <div th:replace="fragments/header"></div>
    <link rel="stylesheet" th:href="@{/styles/tournament/view.css}" href="../"/>
    <link rel="stylesheet" th:href="@{/styles/tournament/create.css}" href="../"/>
    <title>Votre Tournoi</title>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>
        <div class="contentTitle">
            <div class="setInline statusCircleGreen"></div>
            <p id="tournament_name" class="setInline" th:text="|${tournament.name}|"></p>
            <p id="tournament_status" class="setInline" th:text="|(${tournament.status.getDisplayValue()})|"></p>
        </div>
        <div class="partContainer">
            <h2 class="partTitle">Informations générales</h2>
            <p id="date-and-location"
               th:text="|Le tournoi ${tournament.name} du ${tournament.date} aura lieu à ${tournament.location} débutera le ${tournament.date}.|"></p>
            <p>Merci d'apporter votre propre jeu de molkky et de quoi manger pour la journée. Le club ne propose pas de
                services de restauration.</p>
            <br>
            <p id="teams-extremums"
               th:text="|Le nombre d'équipes pour ce tournoi est compris entre ${tournament.minTeam} et ${tournament.maxTeam}.|"></p>
            <p id="nbTeam" th:text="|Il y a actuellement ${nbTeam} équipes inscrites à ce tournoi.|"></p>
            <p id="current-phase" th:text="|La phase courante est la phase n°${tournament.indexPhase}.|"></p>
        </div>

        <div class="partContainer">
            <h2 class="partTitle">Format du tournoi</h2>
            <p>Le tournoi suit un format classique, à savoir une phase de poule suivie d'un bracket.</p>
            <h3 class="partSubtitle">Rounds</h3>
            <div class="dir">
                <div>
                    <ul>
                        <li th:each="phase, itemStat: ${phasesType}">
                            <span th:text="'Phase ' + ${itemStat.index+1}  "></span> : <span
                                th:text="${phase.getPhaseType().getDisplayValue()}"></span>

                            <div th:switch="${phase.getPhaseType()}">
                                <div th:case="${T(type.PhaseType).POOL}">
                                    <span th:text="'Nombre des poules: ' + ${phase.getPhase().getNbPools()}  "></span>
                                </div>
                                <div th:case="${T(type.PhaseType).KNOCKOUT}">
                                </div>
                                <div th:case="${T(type.PhaseType).FINNISH}">
                                </div>
                                <div th:case="${T(type.PhaseType).SIMPLEGAME}">
                                </div>
                                <div th:case="${T(type.PhaseType).SWISSPOOL}">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="partContainer">
            <h2 class="partTitle">Bracket</h2>
            <p>L'image suivante sera remplacée par l'arbre de tournoi lorsque l'User Story correspondante sera
                développée et testée.</p>
            <img th:src="@{/assets/bracket.png}" class="imgBracket" alt="Tournament Bracket">
        </div>

        <div class="partContainer">
            <h2 class="partTitle">Participants</h2>
            <div id="participantContainer">

                <th:block th:each="team : ${tournament.getTeams()}">
                    <div class="teamCard">
                        <h3 class="teamNameEliminated" th:if="${team.eliminated == true}"
                            th:text="${team.getName()}"></h3>
                        <h3 class="teamName" th:if="${team.eliminated == false}" th:text="${team.getName()}"></h3>
                        <div class="cardContentContainer">
                            <p class="teamLogo"></p>
                            <p class="" th:text="'Présence confirmé:'+${team.present}"></p>
                            <ul class="roundsList">
                                <th:block th:each="team : ${team.getUserTournamentRoles()}">
                                    <li class="teamMember" th:text="${team.getUser().getForename()}"></li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>

        <div th:if="${session.user != null} and (${#strings.equals(session.user.role, 'STAFF')})">
                <div class="partContainer">
                    <form action="#" th:action="@{/tournament/validatePresence}" method="post" class="formContainer">
                        <h2 class="partTitle">Vérifier la présence des équipes</h2>
                        <div class="inputContainer">
                            <label class="inputLabel">Supprimer les équipes qui ne sont pas présentes : </label>
                            <input hidden th:value="${tournament.id}" th:name="tournamentId"/>
                            <select style="margin-bottom: 10px;" class="inputPhase" th:name="teamId">
                                <option th:each="team : ${tournament.getTeams()}" th:text="${team.name}"
                                       th:value="${team.id}" ></option>
                            </select>
                            <button id="validatePresenceButton" class="primaryButton" type="submit">Supprimer les
                                équipes
                            </button>
                        </div>
                    </form>
                </div>
        </div>


        <div class="partContainer">
            <h2 class="partTitle">Staff</h2>
            <div id="staffContainer">
                <th:block th:each="user : ${tournament.getUserTournamentRoles()}">
                    <div class="teamCard" th:if="${#strings.equals(user.getRole(), 'STAFF')}">
                        <h3 class="teamName" th:text="${user.getUser().getSurname()}"></h3>
                        <div class="cardContentContainer">
                            <p class="teamLogo"></p>
                            <ul class="roundsList">
                                <li class="teamMember" th:text="${user.getUser().getEmail()}"></li>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </div>

            <div th:if=" ${user} != null">
                <div th:if="${#strings.equals(user.role, 'ADM')}">
                    <div class="partContainer">
                        <form action="#" th:action="@{/tournament/addStaff}" method="post" class="formContainer">
                            <h2 class="partTitle">Ajouter Staff</h2>
                            <div class="inputContainer">
                                <label class="inputLabel">Ajout Staff</label>
                                <input style="margin-bottom: 10px;" class="inputPhase" id="staff-counter" name="nbStaff"
                                       th:name="staffCount" type="number" min="1">
                                <input hidden th:value="${tournament.id}" th:name="tournamentId"/>
                                <button id="addStaff" class="primaryButton" type="submit">Ajouter un Staff</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="partContainer">
            <h2 class="partTitle">Règles</h2>
            <p>A définir...</p>
        </div>

        <div class="partContainer" th:if="${tournament.getIndexPhase()} !=0">
            <h2 class="partTitle" th:text=" 'Phase n ' + ${tournament.getIndexPhase()}">Index de la phase</h2>

            <form action="#" th:action="@{/phase/view}" method="post" class="formContainer">
                <input hidden th:value="${tournament.phases[__${tournament.getIndexPhase()-1}__].id}" th:name="id"/>
                <button id="id" name="visible" class="primaryButton" type="submit">Voir la phase en cours</button>
            </form>

            <form th:if=" ${user != null} and ${tournament.getPhases().size() != (tournament.getIndexPhase())} "
                  action="#" th:action="@{/phase/generate}" method="post" class="formContainer">
                <input hidden th:value="${tournament.phases[__${tournament.getIndexPhase()}__].id}" th:name="id"/>
                <button id="idNext" name="visible" class="primaryButton" type="submit">Passer à la phase suivante
                </button>
            </form>
        </div>

        <div th:if=" ${user} != null">
            <div th:if="${#strings.equals(user.role, 'ADM')}">
                <div class="partContainer" th:if="${#strings.equals(tournament.status, 'AVAILABLE')}">
                    <h2 class="partTitle">Visible</h2>
                    <span th:if=" ${tournament.isVisible} == false">
                       <p>Votre tournois n'est pas encore visible au publique</p>
                       <form action="#" th:action="@{/tournament/setVisible}" method="post" class="formContainer">
                           <input hidden th:value="${tournament.id}" th:name="tournamentId"/>
                           <button id="isValid" name="visible" class="primaryButton" type="submit">Rendre public le tournoi</button>
                       </form>
                   </span>
                    <span th:if=" ${tournament.isVisible} == true">
                       <p>Votre tournoi est  visible au public ! Souhaitez-vous débuter le tournoi ?</p>
                       <form action="#" th:action="@{/tournament/publish}" method="post" class="formContainer">
                           <input hidden th:value="${tournament.id}" th:name="tournamentId"/>
                           <button id="startTounament" name="launch" class="primaryButton" type="submit">Lancer le tournoi</button>
                       </form>
                   </span>
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>