<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Informations personnelles</title>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"> </div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"> </div>
        <div class="homeContainer">
            <div>
                <div class="contentTitle">Vos informations personnelles</div>
                <div class="contentText">
                    <div th:if="${#session.getAttribute('user') != null }">
                        Votre Email : <span id="email" th:text="${user.email}" />
                        <br>
                        <br>
                        Votre Tournoi : <span id="tournament" th:text="${user.tournament.name}" />
                        <br>
                        <br>
                        Votre Role : <span id="role" th:text="${user.role}" />
                        <br>
                        <br>
                        <div th:if="${#strings.equals(user.role, 'PLAYER')}">
                            Votre Equipe : <span id="team" th:text="${user.team.name}" />
                        </div>
                        <br>
                    </div>
                    <div th:unless="${#session.getAttribute('user') != null}">
                        <h2 style="color:red" >Connectez-vous pour accéder à vos informations</h2>
                    </div>

                </div>
            </div>
            <div th:replace="fragments/socials"></div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>
