<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Informations personnelles</title>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"> </div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"> </div>
        <div class="homeContainer">
            <div>
                <div class="contentTitle">Vos informations personnelles</div>
                <div class="contentText">
                    <div th:if="${#session.getAttribute('user') != null }">
                        Votre Email : <span id="email" th:text="${user.email}" />
                        <br>
                        <br>
                        Votre Tournoi : <span id="tournament" th:text="${user.tournament.name}" />
                        <br>
                        <br>
                        Votre Role : <span id="role" th:text="${user.role}" />
                        <br>
                        <br>
                        <div th:if="${#strings.equals(user.role, 'PLAYER')}">
                            Votre Equipe : <span id="team" th:text="${user.team.name}" />
                        </div>
                        <br>

                        <div th:if="${#strings.equals(user.role, 'STAFF')}">
                            <div class="contentTitle">Les matchs qui vous sont attribués (en tant que staff)</div>
                            <div th:each="match: ${matchList}">
                                <br>
                                ID du match : <span th:text="${match.getId()}"></span>
                                <br>
                                Nom du court : <span th:text="${match.getCourt().getName()}">msg</span>
                                <br>
                                <a th:href="@{'/matches/match?match_id='+${match.getId()}}">text</a>
                                <div th:if="${match.getFinished()}">
                                Statut du match : <span>Match terminé</span>
                                    <br>
                                    <span  th:text="${match.getTeams().get(0).getName()}"></span>
                                    <span  th:text="${match.getScoreTeam1()}"></span> |
                                    <span  th:text="${match.getTeams().get(1).getName()}"></span>
                                    <span th:text="${match.getScoreTeam2()}"></span>
                                    <br>
                                </div>
                                <div th:if="${!match.getFinished()}">
                                    Statut du match : <span>Match à venir</span>
                                </div>
                                <br>
                            </div>
                            </div>
                    </div>
                    <div th:unless="${#session.getAttribute('user') != null}">
                        <h2 style="color:red" >Connectez-vous pour accéder à vos informations</h2>
                    </div>

                </div>
            </div>
            <div th:replace="fragments/socials"></div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>
