<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" th:action="@{/saveUser}" th:object="${user}">
        <input id="mail" type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required="required" th:field="*{email}">
        <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required="required">
        <button id="valider" type="submit" c>Créer</button>
    </form>
</body>
</html>