<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <div th:include="fragments/header"></div>
    <link rel="stylesheet" th:href="@{/styles/tournament/create.css}" href="../" />
    <title>Create Team</title>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"> </div>

    <div class="contentContainer">
        <div th:replace="fragments/searchbar"> </div>
        <div class="contentTitle">Add team players to your team </div>
        <b value = "${team.name}"></b>
        <form action="#" th:action="@{/team/addPlayer}" method="post" th:object="${form}" class="formContainer">
           <!-- <div class="inputContainer">
                <label for="nom" class="inputLabel">Player Name</label>
                <input id ="nom" name="nom" type="text"  class="inputTournament" placeholder="Name"/>
            </div>-->

            <div class="inputContainer">
                <label  class="inputLabel" value = "${team.name}" ></label>
                <a th:text="${team.name}"></a>

            </div>

            <div class = "inputContainer">
                <table>
                <tr th:each="player, itemStat : *{players}">
                    <td><b>Player: </b></td>
                    <td><label  for="surname" class="inputLabel">Surname: </label></td>
                    <td><input id = "surname" th:field="*{players[__${itemStat.index}__].surname}" /></td>
                    <td><label  for="forename" class="inputLabel">Forename: </label>
                    <td><input  id = "forename" th:field="*{players[__${itemStat.index}__].forename}" /></td>
                    <td><label for="email" class="inputLabel">Mail: </label>
                    <td><input   id = "email" th:field="*{players[__${itemStat.index}__].mail}" /></td>
                    <td><label for="club" class="inputLabel">Club: </label>
                    <td><input   id = "club" th:field="*{players[__${itemStat.index}__].club}" /></td>
                    <td><input hidden th:name="|players[${itemStat.index}].teamId|" th:value="${team.id}"/></td>
                    <tr></tr>
                </tr>
                </table>
            </div>

            <div class="submitContainer">
                <button id="sendPlayers" class="primaryButton" type="submit">Create</button>
                <button id="cancelPlayers" class="secondaryButton" type="submit">Cancel</button>
            </div>
        </form>
    </div>
</div>

</body>
<div th:replace="fragments/footer"></div>

