<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <div th:replace="fragments/header"></div>
    <link rel="stylesheet" th:href="@{/styles/tournament/create.css}" href="../" />
    <title>Création d'une nouvelle équipe</title>
</head>
<body class="bg">
    <div class="pageContainer">
        <div th:replace="fragments/sidebar"> </div>
        <div class="contentContainer">
            <div th:replace="fragments/searchbar"> </div>
            <div class="contentTitle">Créer une équipe</div>
            <form action="#" th:action="@{/team/create}" method="post" th:object="${team}" class="formContainer" enctype="multipart/form-data">
                <div class="inputContainer">
                    <label for="nom" class="inputLabel">Nom de l'équipe</label>
                    <input required id ="nom" name="nom" type="text" th:field="*{name}"  class="inputTournament" placeholder="Nom"/>
                </div>

                <div class="inputContainer">
                    <label for="photo" class="inputLabel">Photo de l'équipe</label>
                    <input id ="photo" name="photoFile" type="file" accept="image/png, image/jpeg" class="inputTournament" placeholder="Photo"/>
                </div>

                <div class="inputContainer">
                    <label for="tournament" class="inputLabel">Sélectionnez un tournoi</label>
                    <select class="inputTournament" id="tournament" th:field="*{tournament}" >
                        <option th:each="tournament : ${tournaments}" th:value="${tournament.id}" th:text="${tournament.name}" class="inputTournament" >
                    </option>
                    </select>
                </div>

                <div class="inputContainer">
                    <label class="inputLabel">Créer un nouveau club</label>
                    <input class="inputTournament"  type="checkbox"  th:id = "newClub"
                           name="Créer un nouveau club" value="newClub" th:field="*{option}" ><br>
                </div>
                <div hidden class="inputHiddenContainer inputContainer" id = "createClub" style="display: none">
                    <label  class="inputLabel">Créer un club</label>
                    <input id="createClubInput" name="visible" type="text" th:field="*{newClubName}" class="inputTournament"/>
                </div>
                <div class="inputContainer">
                    <label class="inputLabel">Choisir un club déjà existant</label>
                    <input class="inputTournament"  type="checkbox"  th:id = "oldClub"
                           name="Choisir un club déjà existant"  th:field="*{option}" value="oldClub"><br>
                </div>
                <div hidden class="inputHiddenContainer inputContainer" id = "existingClubs" style="display: none">
                    <label  class="inputLabel">Sélectionnez un club</label>
                    <select class="inputTournament" id="club" th:field="*{clubId}" >
                        <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.name}" class="inputTournament" >
                        </option>
                    </select>
                </div>

                <div class="submitContainer">
                    <button id="sendTeam" class="primaryButton" type="submit">Étape suivante</button>
                    <button id="cancelTeam" class="secondaryButton" type="button" onclick=window.location.href='/'>Annuler</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script th:inline="javascript">
    document.getElementById("newClub")

        .addEventListener("change", function () {
            if (this.checked) {
                document.getElementById("createClub").style.display = 'flex';
                document.getElementById("existingClubs").style.display = 'none';
                document.getElementById("oldClub").checked = false;
            } else {
                document.getElementById("createClub").style.display = 'none';

            }
        })

    document.getElementById("oldClub")

        .addEventListener("change", function () {
            if (this.checked) {
                document.getElementById("existingClubs").style.display = 'flex';
                document.getElementById("newClub").checked = false;
                document.getElementById("createClub").hidden = true;
            } else {
                document.getElementById("existingClubs").style.display = 'none';

            }
        })
</script>
<div th:replace="fragments/footer"></div>

