.matchAllContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tournamentTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 24px;
}

.matchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.tournamentDate {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}