<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des Matchs</title>
    <link rel="stylesheet" th:href="@{/styles/tournament/alltournament.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>
        <div class="main">
            <!-- Emplacement pour les filtres-->
            <div class="boxmatchList">
                <div class="boxListe" th:if="${#strings.equals(session.user.role,'PLAYER')}">
                    <div class="rectangle"></div>
                    <div class="Listmatch">Joueur <br> <span th:text="${session.user.team.getName()}"/></div>
                </div>
                <div class="boxListe" th:if="${#strings.equals(session.user.role,'STAFF')}">
                    <div class="rectangle"></div>
                    <div class="Listmatch">Staff </div>
                </div>
                <div class="boxListe">
                    <div class="rectangle"></div>
                    <div class="Listmatch">Liste des matchs</div>
                </div>

                <div class="allButton">
                    <ul class="ButtonTournament nav nav-pills nav-fill">
                        <li class="boxState nav-item">
                            <a id="all" class="textButton nav-link " aria-current="page" href="/match/allMatches">Tous vos matchs</a>
                        </li>
                        <li th:if="${#strings.equals(session.user.role,'STAFF')}" class="boxState nav-item">
                            <a id="toCheck" class="textButton nav-link " aria-current="page" href="/match/validateMatch">Matchs à vérifier</a>
                        </li>
                        <li class="boxState nav-item">
                            <a id="inProgress" class="textButton nav-link" href="/match/inProgressMatches">Matchs en cours</a>
                        </li>
                        <li class="boxState nav-item">
                            <a id="closed" class="textButton nav-link" href="/match/finishedMatches">Matchs terminés</a>
                        </li>
                    </ul>
                </div>

                <div  class="boxAllCard">
                    <ul class="boxOneCard" th:each="match, iStat:${matches}">
                        <li id="listMatches" class="boxInOneCard">
                            <a class="boxInOneCard" th:href="@{'/matches/match?match_id='+${match.getId()}}">
                                <span id="idMatchList" class="idCard" th:text="'ID du match :' + ${match.getId()}"/>
                                <span class="courtCard" th:text=" 'Emplacement : '+${match.getCourt().getName()}"/>
                                <span class="teamCard" th:text="${match.getTeams().get(0).getName()} + ' contre ' + ${match.getTeams().get(1).getName()}"/>
                                <span class="nbSetCard" th:text="'Nombres de sets : '+ ${match.getNbSets()}"/>
                                <span th:if="${incorrectSet!= null}" class="setCard" th:text="'Set concerné: ' + ${incorrectSet.get(iStat.index)}"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>

