<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="fr">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header"></div>
    <title>Affichage des Matchs</title>
    <link rel="stylesheet" th:href="@{/styles/tournament/allTournament.css}" href="./"/>
</head>
<body class="bg">
<div class="pageContainer">
    <div th:replace="fragments/sidebar"></div>
    <div class="contentContainer">
        <div th:replace="fragments/searchbar"></div>
        <div class="main">
            <!-- Emplacement pour les filtres-->
            <div class="boxMatchList">
                <div class="boxList" th:if="${#strings.equals(session.user.role,'PLAYER')}">
                    <div class="userInfoContainer">
                        <div class="userRoleDisplay">Joueur</div>
                        <div class="teamNameDisplay" th:text="${session.user.team.getName()}"/>
                    </div>
                </div>
                <div class="boxList" th:if="${#strings.equals(session.user.role,'STAFF')}">
                    <div class="userInfoContainer">
                        <div class="userRoleDisplay">Staff</div>
                    </div>
                </div>
                <div class="listMatch">Liste des matchs</div>
                <div class="allButton">
                    <a id="all" th:class="'tab '+${#httpServletRequest.requestURI.equals('/match/allMatches') ? 'tabSelected' : ''}" aria-current="page" href="/match/allMatches">Tous</a>
                    <a id="toCheck" th:if="${#strings.equals(session.user.role,'STAFF')}" th:class="'tab '+${#httpServletRequest.requestURI.equals('/match/validateMatch') ? 'tabSelected' : ''}" aria-current="page" href="/match/validateMatch">À vérifier</a>
                    <a id="inProgress" th:class="'tab '+${#httpServletRequest.requestURI.equals('/match/inProgressMatches') ? 'tabSelected' : ''}" href="/match/inProgressMatches">En cours</a>
                    <a id="closed" th:class="'tab '+${#httpServletRequest.requestURI.equals('/match/finishedMatches') ? 'tabSelected' : ''}" href="/match/finishedMatches">Terminés</a>
                </div>


                <div  class="boxAllCard">
                    <a class="boxOneCardMatches" th:each="match, iStat:${matches}" th:href="@{'/matches/match?match_id='+${match.getId()}}">
                        <div id="listMatches" class="boxInOneCard">
                            <div th:if=" ${match.getCourt()} != null" class="courtCard" th:text=" 'Emplacement : '+${match.getCourt().getName()}"/>
                            <div class="teamCard" th:text="${match.getTeams().get(0).getName()} + ' contre ' + ${match.getTeams().get(1).getName()}"/>
                            <div class="nbSetCard" th:text="'Nombres de sets : '+ ${match.getRound().getPhase().getNbSets()}"/>
                            <div th:if="${incorrectSet!= null}" class="setCard" th:text="'Set concerné: ' + ${incorrectSet.get(iStat.index)}"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>

