.allTournamentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    /* backgroundgrey */
    background: #F4F4F8;
    transform: rotate(-0.08deg);

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.boxTournamentList {
    /* Liste tournois */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
}

.rectangleButton {
    position: static;
    width: 159.33px;
    height: 5px;
    left: 10px;
    top: 55.5px;
    background: #F5F4F9;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.listMatch{
    font-size: 20px;
    font-weight: 600;
    border-left: solid;
    border-color: #8C69F4;
    border-width: 4px;
    padding-left: 10px;
}

.userRoleDisplay{
    font-size: 20px;
    font-weight: 600;
}

.teamNameDisplay{
    font-size: 16px;
    font-weight: 400;
}

.userInfoContainer{
    border-left: solid;
    border-color: #8C69F4;
    border-width: 4px;
    padding-left: 10px;
}
.rectangleButtonSelectionned {
    /* Rectangle 35 */

    position: static;
    width: 159.33px;
    height: 5px;
    left: 10px;
    top: 55.5px;

    background: #8C69F4;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.textButton {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #212136;
    margin-right: 10px;
    text-decoration: none;
}

.textButtonSelectionned {
    position: static;
    width: 82px;
    height: 24px;
    left: 48.67px;
    top: 15.5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #8C69F4;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.allButton {
    /* Frame 3635 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0px;
}

.boxState {
    /* Auto layout */
    display: flex;
}

.boxList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 24px;
}

.boxOneCardMatches{
    width: 100%;
    background-color: #8C69F4;
    box-shadow: 0 2px 10px #8C69F4;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    border-radius: 8px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    overflow-wrap: anywhere;
    min-height: 75px;
}

@media only screen and (max-width: 1000px) {
    .boxOneCardMatches {
        flex-direction: column;
        align-items: flex-start;
    }
}

.boxOneCardMatches:hover {
    background-color: #6D41F3;
    box-shadow: 0 3px 7px #8C69F4;
}
.ListTournament {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #212136;
    border-left: solid;
    border-color: #8C69F4;
    border-width: 4px;
    padding-left: 10px;
}


@media only screen and (max-width: 1000px) {
    .primaryButton {
        padding-inline: 10px!important;
    }
}

.boxAllCard {
    /* Tournois cartes */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0px;
    width: 100%;
}

.tournamentContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0px;
    width: 100%;
}

.boxOneCard{
    width: 100%;
    background-color: #8C69F4;
    box-shadow: 0 2px 10px #8C69F4;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 10px;
    border-radius: 8px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    overflow-wrap: anywhere;
    min-height: 75px;
}

.tournamentView {
    width: 85%;
}

@media only screen and (max-width: 1000px) {
    .boxOneCard {
        flex-direction: column;
        align-items: flex-start;
        width: -moz-available;          /* WebKit-based browsers will ignore this. */
        width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
        width: fill-available;
    }
}

.boxOneCard:hover {
    background-color: #6D41F3;
    box-shadow: 0 3px 7px #8C69F4;
}

.tournamentTitleInside {
    font-weight: bold;
    font-size: 20px;
}

.insideText {
    margin: 10px 10px;
    flex: 1 1 0px;
}

.textInscriptionOpen{
    color: #77CD61;
}
.textInscriptionClosed{
    color: orange;
}

div#listMatches{
    display: flex;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.submitContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

@media only screen and (max-width: 1000px) {
    .submitContainer {
        justify-content: space-between;
    }
}

.tournamentFormContainer

#valider{
    margin-right: 10px;
}