#eachWinner {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.teamImage {
    width: 200px;
    height: 120px;
    background: #C4C4C4;
}

.partTitle {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
}

.podiumContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resultItem {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.resultText {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}