.partContainer {
    width: 95%;
    height: auto;
    border-radius: 7px;
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0;
}
.partTitle {
    font-weight: bold;
}
.partSubtitle {
    letter-spacing: 2px;
}
ul.roundsList {
    list-style: none;
}
.dir {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.imgBracket {
    object-fit: cover;
}
.teamCard {
    width: 246px;
    background-color: #F4F4F8;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
    margin: 20px;
    border-radius: 7px;
}
#participantContainer {
    display: flex;
    flex-direction: row;
}
.teamName {
    background-color: #5B5A58;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-transform: uppercase;
}
.cardContentContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.teamLogo {
    height: 60px;
    width: 60px;
    border-radius: 7px;
    background-color: #6D41F3;
}
.teamMember {
    margin: 3px;
}
.statusCircleGreen {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
}
.statusCircleRed {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
}
.statusCircleOrange {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: orange;
}
.setInline {
    display:  inline-block;
}