.partContainer {
    width: 95%;
    height: auto;
    border-radius: 7px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
    .partContainer {
        width: auto;
    }
}

p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.sidebarButton p {
    font-weight: 600;
    font-size : 14px;
    text-align: left;
    margin-left: 17px;
    bottom: -0.46%;
    line-height: inherit;
}
.partTitle {
    font-weight: bold;
}
.partSubtitle {
    letter-spacing: 2px;
}
ul.roundsList {
    list-style: none;
}
.dir {
    display: flex;
    justify-content: left;
    flex-direction: row;
}
.imgBracket {
    object-fit: cover;
}
.teamCard {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 246px;
    height: 125px;
    margin-bottom: 30px;

    background: #F4F4F8;
    /* secondary */

    border: 1px solid #C4C4C4;
    box-shadow: 0px 0px 7px 2px rgba(196, 196, 196, 0.25);
    border-radius: 7px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
#participantContainer {
    display: flex;
    flex-direction: row;
}

#staffContainer {
    display: flex;
    flex-direction: row;
}
.teamName {
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-transform: uppercase;
    width: -webkit-fill-available;
}

.teamNameEliminated {
    background-color: darkred;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-transform: uppercase;
    width: -webkit-fill-available;
    font-size: 17px;

}
.cardContentContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.teamLogo {
    height: 80px;
    width: 80px;
    margin-right: 12px;
    margin-bottom: 15px;
}
.teamMember {
    margin: 3px;
}
.statusCircleGreen {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: green;
}
.statusCircleRed {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
}
.statusCircleOrange {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: orange;
}
.setInline {
    display:  inline-block;
}

.teamPhoto{
    max-width:180px;
    max-height:90px;
}
