.footerContainer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    font-family: "Inter", sans-serif;
}

.footerLine {
    background: #0A142F;
    mix-blend-mode: normal;
    opacity: 0.2;
    width: 80%;
    border-radius: 2px;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerLogo {
    height: 100px;
    filter: brightness(0);
}

.sidebarContainer {
    width: 19%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.sidebarLogo {
    filter: brightness(0);
    height: 118px;
    object-fit: scale-down;
}

.sidebarButtons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 26px;
}

.sidebarButton {
    border-radius: 7px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 217px;
    height: 49px;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
}

.sidebarIcon {
    margin-left: 17px;
}

.sidebarIconInactive {
    opacity: 70%;
    filter: brightness(0);
}

.sidebarButtonContent {
    margin-left: 17px;
    bottom: -0.46%;
}

.searchbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    padding: 22px 0;
}

.searchbar {
    max-width: 1500px;
    flex-grow: 1;
    height: 58px;
    background-color: #E7E7ED;
    border-radius: 7px;
    border-width: 0;
    padding: 0 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #8787A1;
}

.searchbarIcon {
    width: 25px;
}

.searchbarIconContainer {
    padding: 18px;
    position: absolute;
}

.searchbarButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 44px;
    height: 100%;
}

.notificationButton {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    color: white;
    background-color: #8C69F4;
    box-shadow: 0 2px 10px #8C69F4;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.notificationLabel {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: black;
    background-color: #e7e3f9;
    box-shadow: 0 2px 10px 0px #ada9b7;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 34px;
    cursor: pointer;
    top: -21px;
}

.notificationContainer {
    width: 100px;
}

.notificationButtonIcon {
    width: 32px;
    height: 32px;
}

.connectButton {
    min-width: 173px;
    height: 56px;
}

.socialsContainer {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: start;
}

.socialsIcon {
    margin: 27px;
    width: 40px;
    height: 40px;
}

.notificationListContainer {
    position: relative;
    width: max-content;
    max-width: 300px;
    min-width: 100px;
    left: -50%;
    border-radius: 8px;
    border: 2px solid #8c69f4;
    box-shadow: 0 2px 10px 0px #ada9b7;
    color: black;
    transform: translateX(-50%);
    top: 25px;
    background-color: white;
}

.notificationListItemContainer {
    text-decoration: none;
}

.notificationContent {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: black;
    cursor: pointer;
    padding: 10px;
    line-height: 18px;
    border-bottom: 1px solid #00000042;
    text-align: end;
}
