.bg {
    background-color: #F5F4F9;
}

.bgButton {
    background-color: #E7E3F9;
}

.textPrimary {
    color: #8C69F4;
}

.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contentContainer {
    flex: 1;
}

body {
    margin: 0;
}