.bg {
    background-color: #F5F4F9;
}

.bgButton {
    background-color: #E7E3F9;
}

.textPrimary {
    color: #8C69F4!important;
}

.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contentContainer {
    flex: 1;
    margin: 30px;
    font-family: 'Inter', sans-serif;
}

.contentTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contentText {
    font-family: 'Inter', sans-serif;
    margin-top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .homeContainer {
        flex-direction: column-reverse;
    }
}

.homeImage {
    border-radius: 15px;
    margin-top: 25px    ;
    width: 100%;
    height: 355px;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .homeImage {
        height: 200px;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}